.card {
  position: relative;
  height: 50%;
  width: 10%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

img {
  position: relative;
  height: 25%;
  width:50px;
  
  border-radius: 10px;
  border:1px solid white;
  z-index: 0;
  
  &:hover{
    position: relative;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(41, 43, 41);
    transform: scale(7);
    z-index:999;
    cursor: pointer;

  }
}