@import 'variables';


.NavBar {
  margin-left: 0;
  height: 2.5rem;
  background-color: $my_blue;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;

  h2 {
    font-size: larger
  }

  span {
    margin-left: 2rem;
  }

  button {
    font-size: medium;
    border: none;
    width: 10rem;
    height: 2.5rem;
    background: $my_blue;
    /* fallback for old browsers */
    background: linear-gradient(to right, lighten($my_blue, 50), lighten($my_blue, 10), $my_blue);

    &:hover {
      background: #195dca;
      /* fallback for old browsers */
      background: linear-gradient(to right, #85bcfb, #657ff1, #1962d7);
    }
  }
}


.banner {
  background-image: url("../assets/pokereact_banner_1920.png");
  height: 17.5rem;
  min-width: 100%;
  border: 0.2rem solid darken($my_blue, 60);
}

.footer {
  font-weight: 800;
  background: $my_blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0rem 3rem;
  color: rgba(0, 0, 0, 0.948);

  span {
    &:hover {
      color: $pika_yellow
    }
  }
  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;

    padding: 0rem 1.3rem;
  }

  .footer-links a:hover {
    opacity: 1;
  }
}

#root {
  min-height: 70rem;
}
