@import 'variables.scss';

.about {
  p {
    font-size: large;
    font-weight: 600;
    font-style: oblique;
    text-align: justify;
  }

  h1 {
    margin-left: 0.5rem;
  }

  .about-top {
    width: 100%;
    display: flex;
  }

  .about-top-left {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-top: 2rem;
  }

  .about-top-text {
    margin-bottom: 5rem;
  }

  .graph {
    width: 100%;

    .bar-one,
    .bar-three,
    .bar-four {
      height: 2rem;
      border: 1px solid black;
    }

    .bar-one {
      background-color: blue;
    }

    .bar-two {
      height: 2rem;
      background-color: rgb(0, 0, 0);
      border: 2px solid black;
    }

    .bar-three {
      background-color: rgb(227, 12, 12);
    }

    .bar-four {
      background-color: rgb(218, 188, 21);
    }
  }

  .votes {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

    button {
      width: 8rem;
      height: 8rem;
      background-color: $my_blue;
      border: 2px solid darken($my_blue, 50);
      border-radius: 15%;
      box-shadow: 0.8rem 0.8rem 0.1rem 0.05rem lighten($my_blue, 40);
    }

    button:hover {
      background-color: lighten($my_blue, 10);
      border: 1px solid;
      border-color: lighten($my_blue, 5);
    }
  }

  .pifacteur {
    margin: 6rem auto;
    width: 40rem;
    height: 40rem;
    border: none;
    z-index: 0;
  }

  .play-button {
    width: 5rem;
    height: 2rem;
    margin-left: 5rem;
    padding-top: -5rem;
    border: none;
    padding-right: 2em;
    z-index: 0;
  }

  .form {
    background-image: url(".././assets/open_pokeball.png");
    width: 50em;
    height: 46em;
    margin: 10em auto;
    padding-top: 15em;

    label {
      color: white;
    }

    input,
    textarea,
    button {
      width: 50%;
      border-radius: 2%;
    }

    span {
      font-size: small;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4em;
    margin-left: 19.5em;
  }

  .PhoneInput {
    color: white;
    width: 15.5rem;
  }
}
