
.card {
  width: 50rem;
  height: 50rem;
  background-image: url("../assets/card-default.png");
    transform: scale(0.8);
    list-style-type: none;
    margin-left: 25%;
    transition: none;
    z-index: 0;
    img{
      margin-top: 10rem;
      margin-right: -4rem;
      height: 13%;
      width: 14%;
      transform: scale(2.5);
      border:none;
    }
    .info-top{
      width: 25rem;
      margin-right: 15rem;
      display: flex;
      justify-content: space-between ;
      margin-top: 0px;
    }

}
