
.card {
    list-style-type: none;
    margin-left: 100px;
    position: relative;
    height: 100px;
    width: 200px;
    transition: none;
    z-index: 0;
    h2 {
      font-size: 1rem;
    }
    ul.infos{
      list-style-type: none;
    }

    &:active{
      background-image: none;
      z-index:2;
      transform: scale(8);
      transition: none;
    }

    img{
      border:none;
      width:100px;
    }
}
