.pokeball{
  height: 100%;
  width: 100%;
}
.optionTab {
  margin: 8em;
}
.pokedex {
  padding: 0 12em 20em 12em;
}

.card {
  margin-left: 100px;
    position: relative;
    height: 100px;
    width: 200px;
    transition: none;
    z-index: 0;
    h2 {
      font-size: 1rem;
    }
    ul.infos{
      display:none;

    }
    &:hover {
      z-index: 1;
      background-image: url("/assets/book7.gif");
      height: 103px;
      width: 230px;
      transform: scale(2);
      transition: none;
      overflow: hidden;

      background-color: none;

      ul.infos{
        margin-left:30px;
        list-style-type: none;
        display:block;
        z-index: 1;
        h2{
          line-height: 180%;
          text-transform:capitalize;
      }
      }

    }
    &:active{
      background-image: none;
      z-index:2;
      transform: scale(8);
      transition: none;
      ul.infos{
        display:none;
      }
    }


    img{
      border:none;
      width:100px;
    }
}
