@import 'variables';

.dashboard {

  .dashboard-left {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .dashboard-all {
    display: flex;
    justify-content: space-between;

    button {
      width: 130px;
      margin: 0;
    }
  }

  .sidebar {
    background-color: $my_blue;
    height: 800px;
    min-width: 140px;
    border: 6px solid rgb(0, 0, 0);
  }



  .favorite-list {
    ul {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      img {
        width: 95px;
        height: 95px;
      }

    }
  }

  .not_logged {
    margin-top: 2rem;
    margin-left: 1rem;

    .psyduck_pc {
      margin: 2rem;
      margin-bottom: -4rem;
      width: 40%;
    }

    button {
      margin-left: 1rem;
    }
  }
}
