.dashboard {
  .favorite-list {
    ul{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    list-style-type: none;

    img {
      transform: scale(0.2);
    }

    /*  &:active{
        background-image: none;
        z-index:2;
        transform: scale(8);
         transition: none;
         ul.infos{
          display:none;
        }
      } */
      li{
        max-width: 100px;
        max-height: 200px;
      }
  }
}
  .not_logged {
    margin-top: 2rem;
    margin-left: 1rem;

    .psyduck_pc {
      margin: 2rem;
      margin-bottom: -4rem;
      width: 40%;
    }

    button {
      margin-left: 1rem;
      border: none;
      background: none;
    }
  }
}
