
img {
  position: relative;
  height: 100%;
  width:100%;
  z-index: 0;
  }


h2{
  font-size:larger
}

.Registration{
  margin-top: 2rem;
  margin-bottom: 2rem;
  button{
    margin-top:1rem;
  }
}

.Login{
  margin-top: 2rem;
  margin-bottom: 2rem;
  button{
    margin-top:1rem;
  }
}


.button-10 {
  display: flex;

  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.SearchBar{
  margin-top:5rem;
}
