.homepage{

  img {
  position: relative;
  height: 100%;
  width:100%;
  z-index: 0;
  }

.Registration_form{
  margin-top: 2rem;
  margin-bottom: 2rem;
  button{
    margin-top:1rem;
  }
}

.Login_form{
  margin-top: 2rem;
  margin-bottom: 2rem;
  button{
    margin-top:1rem;
  }
}

.SearchBar{
  margin-top: 5rem;
  min-height: 20rem;

}
}
