@import 'variables';

.homepage {
  .forms {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}

.Registration_form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100px;
  font-size: 16px;

  button {
    margin-top: 1rem;
  }
}

.Login_form {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  button {
    margin-top: 1rem;
  }
}

.not_logged {
  max-height: 50vh;
  max-width: 60vw;
  color: $my_blue;
}
