.nav-active {
  button{
    background-color: black;
    color: rgb(224, 224, 230);
    font: bolder;
  }
}

.NavBar{
  margin-left:0;
  height:2rem;
  background-color: rgb(36, 36, 96);;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  span{
    margin-left: 2rem;
  }
  button{
    font-size:medium;
    border:none;
    width: 5.4rem;
    height: 2rem;
    background: #0052D4;  /* fallback for old browsers */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    &:hover{
      background: #195dca;  /* fallback for old browsers */
      background: linear-gradient(to right, #85bcfb, #657ff1, #1962d7);
    }
  }
}
