*{
  margin:0;
  padding:0;

}


.pokemon-name {
  text-align: center;

  .optionTab {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background: rgb(13, 15, 104);
    border-radius: 20px;
    padding: 3px;
    color: white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.452);

    input {
      transform: translateY(1px);
      cursor: pointer;
    }

    label {
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 40px;
    font-size: 1.3rem;
    border: 3px solid black;
    outline: none;
    transition: 0.4s;
    text-align: center;
    width: 400px;
    margin-bottom: 20px;

    &:focus {
      background: black;
      border-radius: 4px;
      color: white;
    }
  }

  button {
    margin: 0 auto 20px;
    background: none;
    border: 2px solid black;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: black;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
