.banner{
  background-image: url("../assets/pokereact_banner_1920.png") ;
  height: 17.5rem;
  min-width: 100%;
  border: 0.2rem solid rgb(17, 16, 30);
}

.footer {
  font-weight: 800;
  background: #133378;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0rem 3rem;
  color: rgba(0, 0, 0, 0.948);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;

  padding: 0rem 1.3rem;
}
.footer-links a:hover {
  opacity: 1;
}

#root{
 min-height: 80rem;
}
